@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$text-dark: black;

$bg-primary: #23232e;
$bg-secondary: #141418;
$bg-body: #454545;

$bg-logout: #ff4561;
$bg-icon: #7e5799;

:root {
  font-size: 16px;
  font-family: 'Open Sans';
}
#root {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .App {
    grid-template-columns: 1fr 20fr 10fr;
    grid-template-areas:
      'nav  header sidebar'
      'nav  content sidebar'
      'nav  content sidebar'
      'nav  content sidebar';
  }
}
@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
      'content  sidebar'
      'content sidebar'
      'content sidebar'
      'nav  nav';
  }
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}

html { 
  height: 100%;
  width: 100%;
}

body {
  color: $text-primary;
  background-color: $bg-body;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #7e5799;
}

.spinner-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
