$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$bg-body: #bdbdbd;

:root {
  font-size: 16px;
  font-family: 'Open Sans';
}

body {
  color: black;
  background-color: $bg-body;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #7e5799;
}
@media only screen and (min-width: 601px) {
  .main {
    margin-left: 5rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}
