@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$bg-body: #454545;
$bg-icon: #7e5799;

:root {
  font-size: 16px;
  font-family: 'Open Sans';
}

body {
  color: $text-primary;
  background-color: $bg-body;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #7e5799;
}
@media only screen and (min-width: 601px) {
  .main {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}

// Sales page

.sales-row {
  display: flex;
  flex-direction: row;
}

.invoice-col {
  padding-left: 1rem;
  padding-top: 1rem;
}

.invoice-header {
  background-color: $bg-primary;
  text-align: center;
  height: 5vh;
  border-radius: 20px 20px 0 0;
}

.invoice-header h1 {
  padding-top: 1rem;
}

.current-invoice {
  background-color: $text-secondary;
  height: 50vh;
  width: 20rem;
  overflow: auto;
}

.invoice-footer {
  padding-top: 1rem;
  background-color: $bg-primary;
  height: 19vh;
  border-radius: 0 0 20px 20px;
  line-height: 30px;
}
.invoice-footer p {
  margin-left: 1rem;
}

.categories{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.categories {
  margin-left: 20px;
}

.item-price div {
  margin-left: 1rem;
}

//*********** Dropdown ***************************************************************** //
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $bg-primary;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

/* Custom Select */
.select, .item-price {
  position: relative;
  display: flex;
  width: 10rem;
  height: 3rem;
  line-height: 3;
  background: $bg-primary;
  overflow: hidden;
  border-radius: 0.25em;
}

select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: $bg-secondary;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Transition */
.select:hover::after {
  color: $bg-icon;
}

#item-text {
  margin-top: 2rem;
}
