@import '../../App.scss';

@media only screen and (min-width: 601px) {
    .App {
      grid-template-columns: 1fr 30fr;
      grid-template-areas:
        'nav  content'
        'nav  content'
        'nav  content';
    }
  }
  @media only screen and (max-width: 600px) {
    .App {
      grid-template-columns: 5fr 1fr;
      grid-template-areas:
        'content'
        'content'
        'content'
        'nav';
    }
  }
  

.account-container {
    grid-area: content;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-col, .analysis-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    height: 100%;
    width: 40%;
}
.edit-profile, .analysis {
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    border: 2px black dotted;
    overflow-wrap: break-word;
    align-items: center;
}

.description {
    height: 12rem;
    width: 30rem;
}