@import '../../App.scss';

.input-col {
    width: 100%;
}

.product-table {
    height: 100%;
    width: 100%;
}

.product-row {
    color: black;
    background-color: $bg-primary;
    width: 100%;
    height: 3rem;
    padding: 1rem;
}