@import '../../App.scss';

.container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-column: repeat(3,1fr);
}   

.list-group, .product-row {
    display:contents;
}

#col-name {
    grid-column: 1;
}

#col-price {
    grid-column: 2;
}

#col-quantity {
    grid-column: 3;
}

.item-name {
    grid-column: 1;
    height: 20px;
}

.item-price, .no-products {
    grid-column: 2;
    height: 20px;
}

.item-quantity {
    grid-column: 3;
    height: 20px;
}

.sale-product-col {
    height: 2rem;
    background-color: $bg-primary;
}