@import '../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/elements/_all.sass';
@import '../../../node_modules/bulma/sass/form/_all.sass';
@import '../../App.scss';
@import '../../../node_modules/bootstrap-grid/dist/grid.min.css';

@media only screen and (min-width: 601px) {
  .main {
    margin-left: 15rem;
    height: 100%;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    margin-left: 0;
    margin-bottom: 5rem;
    height: 100%;
  }
  .sales-row {
    position: fixed;
    top: 0;
  }
}

.item-col {
  width: 85%;
  height: 70%;
  overflow-y: scroll;
}

.sale-container {
  height:100%;
  width: 100%;
}

.sale-col {
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-right: 31rem;
  height: 100%;
}

.item-col::-webkit-scrollbar,
.current-invoice::-webkit-scrollbar {
  width: 0.4rem;
}

.item-col::-webkit-scrollbar-track {
  background: $bg-secondary;
}

.item-col::-webkit-scrollbar-thumb {
  background: $bg-icon;
  border-radius: 10px;
}

.items-header {
  color: $text-secondary;
  font-size: 32px;
  font-weight: bold;
  background-color: $bg-primary;
  height: 5rem;
}
