@import '../../App.scss';

// Sidebar animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Initial sidebar css
.sidebar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: $bg-primary;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $text-primary;
  text-decoration: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
  letter-spacing: 0.1ch;
  white-space: nowrap;
}

.link-img {
  min-width: 2rem;
  margin: 0 1.5rem;
  fill: $text-primary;
}

.nav-link.active {
  .link-text,
  .link-img {
    color: $bg-icon;
    fill: $bg-icon;
  }
}

.nav-link:hover {
  .link-text,
  .link-img {
    color: $bg-icon;
    fill: $bg-icon;
    transition: 0.3s;
  }
}
.nav-link:not(:hover) {
  .link-text,
  .link-img {
    color: $text-primary;
    fill: $text-primary;
    transition: 0.3s;
  }
}
#logout {
  background-color: $bg-logout;
}

#settings {
  margin-top: auto;
  margin-left: auto;
}
@media only screen and (min-width: 601px) {
  .nav-item {
    width: 100%;
  }

  .sidebar:hover ~ .main {
    margin-left: 13rem;
    transition: 0.7s;
  }

  .sidebar:not(:hover) ~ .main {
    margin-left: 5rem;
    transition: 0.7s;
  }

  .sidebar:hover {
    width: 13rem;
    .link-text {
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      display: block;
    }
    transition: 0.7s;
  }

  .sidebar:not(:hover) {
    width: 5rem;
    transition: 0.7s;
  }

  .logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: $text-primary;
    background-color: $bg-secondary;
    letter-spacing: 0.3ch;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .sidebar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: space-between;
  }
}
