@import '../../App.scss';

.login-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.POS-span {
  color: #7e5799;
}

.row {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
}

.title {
  position:relative;
  top: 40px;
  left: 5px;
  font-weight: bold;
  font-size: 30px;
}

// Buttons

.login-row {
  color: $text-dark;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logintitle {
  display:flex;
  flex-direction: column;
  float:left;
}

.login-inputs {
  width: 100%;
}